absl-py==2.1.0
aiohttp==3.9.5
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.4.0
arrow-cpp==14.0.2
asgiref==3.8.1
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.2.0
awsc==0.5.20
aws-c-cal==0.5.20
aws-c-common==0.8.5
aws-c-compression==0.2.16
aws-c-event-stream==0.2.15
aws-c-http==0.6.25
aws-c-io==0.13.10
aws-c-mqtt==0.7.13
aws-c-s3==0.1.51
aws-c-sdkutils==0.1.6
aws-checksums==0.1.13
aws-crt-cpp==0.18.16
aws-sdk-cpp==1.10.55
backoff==2.2.1
bcrypt==4.1.3
beautifulsoup4==4.12.2
blas==1.0
boost-cpp==1.82.0
bottleneck==1.3.7
brotli-python==1.0.9
build==1.2.1
bzip2==1.0.8
c-ares==1.19.1
ca-certificates==2024.7.4
cachetools==5.3.3
certifi==2024.7.4
charset-normalizer==2.0.4
chroma-hnswlib==0.7.3
chromadb==0.5.3
click==8.1.7
coloredlogs==15.0.1
comm==0.2.2
cuda-cudart==12.1.105
cuda-cupti==12.1.105
cuda-libraries==12.1.0
cuda-nvrtc==12.1.105
cuda-nvtx==12.1.105
cuda-opencl==12.5.39
cuda-runtime==12.1.0
cuda-version==12.5
dataclasses-json==0.6.7
datasets==2.19.1
debugpy==1.6.7
decorator==5.1.1
deprecated==1.2.14
dill==0.3.8
dnspython==2.6.1
email-validator==2.2.0
exceptiongroup==1.2.0
executing==2.0.1
fastapi==0.111.0
fastapi-cli==0.0.4
ffmpeg==4.3
filelock==3.13.1
flatbuffers==24.3.25
freetype==2.12.1
frozenlist==1.4.1
fsspec==2024.6.1
gflags==2.2.2
glog==0.5.0
gmp==6.2.1
gmpy2==2.1.2
gnutls==3.6.15
google-auth==2.31.0
googleapis-common-protos==1.63.2
greenlet==3.0.3
grpc-cpp==1.48.2
grpcio==1.64.1
h11==0.14.0
h5py==3.9.0
hdf5==1.12.1
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
huggingface_hub==0.23.4
humanfriendly==10.0
icu==73.1
idna==3.7
importlib-metadata==7.1.0
importlib-resources==6.4.0
importlib_metadata==8.0.0
intel-openmp==2023.1.0
ipykernel==6.29.5
ipython==8.26.0
ipywidgets==8.1.3
jedi==0.19.1
jinja2==3.1.4
joblib==1.4.2
jpeg==9e
jsonpatch==1.33
jsonpointer==3.0.0
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyterlab_widgets==3.0.11
krb5==1.20.1
kubernetes==30.1.0
lame==3.100
langchain==0.1.20
langchain-chroma==0.1.2
langchain-community==0.2.6
langchain-core==0.1.52
langchain-text-splitters==0.0.2
langsmith==0.1.83
lcms2==2.12
ld_impl_linux-64==2.38
lerc==3.0
libboost==1.82.0
libbrotlicommon==1.0.9
libbrotlidec==1.0.9
libbrotlienc==1.0.9
libcublas==12.1.0.26
libcufft==11.0.2.4
libcufile==1.10.0.4
libcurand==10.3.6.39
libcurl==8.7.1
libcusolver==11.4.4.55
libcusparse==12.0.2.55
libdeflate==1.17
libedit==3.1.20230828
libev==4.33
libevent==2.1.12
libffi==3.4.4
libgcc-ng==14.1.0
libgfortran-ng==11.2.0
libgfortran5==11.2.0
libgomp==14.1.0
libiconv==1.16
libidn2==2.3.4
libjpeg-turbo==2.0.0
libnghttp2==1.57.0
libnpp==12.0.2.50
libnvjitlink==12.1.105
libnvjpeg==12.1.1.14
libpng==1.6.39
libprotobuf==3.20.3
libsodium==1.0.18
libssh2==1.11.0
libstdcxx-ng==14.1.0
libtasn1==4.19.0
libthrift==0.15.0
libtiff==4.5.1
libunistring==0.9.10
libuuid==1.41.5
libwebp-base==1.3.2
llvm-openmp==14.0.6
lz4-c==1.9.4
markdown-it-py==3.0.0
markupsafe==2.1.3
marshmallow==3.21.3
matplotlib-inline==0.1.7
mdurl==0.1.2
mkl==2023.1.0
mkl-service==2.4.0
mkl_fft==1.3.8
mkl_random==1.2.4
mmh3==4.1.0
monotonic==1.6
mpc==1.1.0
mpfr==4.0.2
mpmath==1.3.0
multidict==6.0.5
multiprocess==0.70.15
mypy_extensions==1.0.0
ncurses==6.4
nest-asyncio==1.6.0
nettle==3.7.3
networkx==3.2.1
nltk==3.8.1
numexpr==2.8.7
numpy==1.26.4
numpy-base==1.26.4
oauthlib==3.2.2
ollama==0.2.1
onnxruntime==1.18.1
openh264==2.1.1
openjpeg==2.4.0
openssl==3.3.1
opentelemetry-api==1.25.0
opentelemetry-exporter-otlp-proto-common==1.25.0
opentelemetry-exporter-otlp-proto-grpc==1.25.0
opentelemetry-instrumentation==0.46b0
opentelemetry-instrumentation-asgi==0.46b0
opentelemetry-instrumentation-fastapi==0.46b0
opentelemetry-proto==1.25.0
opentelemetry-sdk==1.25.0
opentelemetry-semantic-conventions==0.46b0
opentelemetry-util-http==0.46b0
orc==1.7.4
orjson==3.10.6
outcome==1.1.0
overrides==7.7.0
packaging==23.2
pandas==2.2.2
parso==0.8.4
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.3.0
pip==24.1.2
platformdirs==4.2.2
playwright==1.42.0
posthog==3.5.0
prompt-toolkit==3.0.47
protobuf==4.25.3
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.2
pyarrow==14.0.2
pyasn1==0.6.0
pyasn1-modules==0.4.0
pydantic==2.8.0
pydantic-core==2.20.0
pyee==11.0.1
pygments==2.18.0
pypdf==4.2.0
pypika==0.48.9
pyproject-hooks==1.1.0
pysocks==1.7.1
python==3.10.12
python-dateutil==2.9.0
python-dotenv==1.0.1
python-multipart==0.0.9
python-tzdata==2023.3
python-xxhash==2.0.2
python_abi==3.10
pytorch==2.3.1
pytorch-cuda==12.1
pytorch-mutex==1.0
pytz==2024.1
pyyaml==6.0.1
pyzmq==25.1.2
re2==2022.04.01
readline==8.2
regex==2023.10.3
requests==2.32.3
requests-oauthlib==2.0.0
rich==13.7.1
rsa==4.9
s2n==1.3.27
safetensors==0.4.2
selenium==4.22.0
selenium-manager==4.22.0
setuptools==69.5.1
shellingham==1.5.4
six==1.16.0
snappy==1.1.10
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
sqlalchemy==2.0.31
sqlite==3.45.3
stack_data==0.6.2
starlette==0.37.2
sympy==1.12
tbb==2021.8.0
tenacity==8.4.2
tk==8.6.14
tokenizers==0.19.1
tomli==2.0.1
torchaudio==2.3.1
torchtriton==2.3.1
torchvision==0.18.1
tornado==6.4.1
tqdm==4.66.4
traitlets==5.14.3
transformers==4.42.4
trio==0.24.0
trio-websocket==0.11.1
typer==0.12.3
typing-extensions==4.11.0
typing_extensions==4.11.0
typing_inspect==0.9.0
tzdata==2024a
ujson==5.10.0
urllib3==2.2.2
utf8proc==2.6.1
uvicorn==0.30.1
uvloop==0.19.0
watchfiles==0.22.0
wcwidth==0.2.13
websocket-client==1.8.0
websockets==12.0
wheel==0.43.0
widgetsnbextension==4.0.11
wrapt==1.16.0
wsproto==1.2.0
xxhash==0.8.0
xz==5.4.6
yaml==0.2.5
yarl==1.9.4
zeromq==4.3.5
zipp==3.19.2
zlib==1.2.13
zstd==1.5.5
